<kendo-grid
      #grid
      [data]="gridSettings.gridData"
      [resizable]="true"
      [reorderable]="true"
      [columnMenu]="true"
      [pageable]="true"
      [pageSize]="gridSettings.state.take"
      [skip]="gridSettings.state.skip"
      [sortable]="true"
      [sort]="gridSettings.state.sort"
      [filterable]="true"
      [filter]="gridSettings.state.filter"
      [groupable]="true"
      [group]="gridSettings.state.group"
      (dataStateChange)="dataStateChange($event)"
      (cellClick)="cellClickHandler($event)"
      (dblclick)="onDblClick()"
      (cellClose)="cellCloseHandler($event)"
    >
      <ng-template kendoGridToolbarTemplate>
        <button kendoButton (click)="saveGridSettings(grid)">
          Save current state
        </button>
        @if (savedStateExists) {
            <button kendoButton (click)="loadSavedState()">
                Load saved state
              </button>
              
        }
      </ng-template>
      @for (col of gridSettings.columnsConfig; track col) {
      <kendo-grid-column
        [field]="col.field"
        [title]="col.title"
        [width]="col.width ?? 100"
        [filter]="col.filter ?? 'text'"
        [filterable]="col.filterable ?? false"
        [hidden]="col.hidden ?? false"
        [format]="col.format"
        [editable]="true"
        (dblclick)="onCellDoubleClick($event)"
      >
      <ng-template kendoGridEditTemplate let-dataItem="dataItem" let-formGroup="formGroup">
        <input
          kendoTextBox
          [formControl]="formGroup.get(col.field)"
          [placeholder]="col.title"
        />
      </ng-template>
      </kendo-grid-column>
      }
    </kendo-grid>

