<kendo-tabstrip>
  <kendo-tabstrip-tab>
    <ng-template kendoTabTitle>
      <i class="fas fa-tachometer-alt"></i> Dashboard
    </ng-template>
    <ng-template kendoTabContent>
      <app-new></app-new>
    </ng-template>
  </kendo-tabstrip-tab>

  <kendo-tabstrip-tab>
    <ng-template kendoTabTitle>
      <i class="fas fa-user-shield"></i> Agent Management
    </ng-template>
    <ng-template kendoTabContent>
      <p>Agent management content goes here</p>
    </ng-template>
  </kendo-tabstrip-tab>

  <kendo-tabstrip-tab>
    <ng-template kendoTabTitle>
      <i class="fas fa-calendar-alt"></i> Calendar
    </ng-template>
    <ng-template kendoTabContent>
      <p>Calendar content goes here</p>
    </ng-template>
  </kendo-tabstrip-tab>

  <kendo-tabstrip-tab>
    <ng-template kendoTabTitle>
      <i class="fas fa-file-invoice-dollar"></i> EZ Quote
    </ng-template>
    <ng-template kendoTabContent>
      <p>EZ Quote content goes here</p>
    </ng-template>
  </kendo-tabstrip-tab>

  <kendo-tabstrip-tab>
    <ng-template kendoTabTitle>
      <i class="fas fa-address-card"></i> Lead Management
    </ng-template>
    <ng-template kendoTabContent>
     <app-leadmanagement></app-leadmanagement>
    </ng-template>
  </kendo-tabstrip-tab>

  <kendo-tabstrip-tab>
    <ng-template kendoTabTitle>
      <i class="fas fa-tasks"></i> Activities & Workflows
    </ng-template>
    <ng-template kendoTabContent>
      <p>Activities & Workflows content goes here</p>
    </ng-template>
  </kendo-tabstrip-tab>

  <kendo-tabstrip-tab>
    <ng-template kendoTabTitle>
      <i class="fas fa-waby"></i>Workflows
    </ng-template>
    <ng-template kendoTabContent>
      <p>Workflows content goes here</p>
    </ng-template>
  </kendo-tabstrip-tab>

  <kendo-tabstrip-tab>
    <ng-template kendoTabTitle>
      <i class="fas fa-tasks"></i>Workflows
    </ng-template>
    <ng-template kendoTabContent>
      <p>Activities & Workflows content goes here</p>
    </ng-template>
  </kendo-tabstrip-tab>

  <kendo-tabstrip-tab>
    <ng-template kendoTabTitle>
      <i class="fas fa-comments"></i> Chat
    </ng-template>
    <ng-template kendoTabContent>
      <p>Chat content goes here</p>
    </ng-template>
  </kendo-tabstrip-tab>
</kendo-tabstrip>